.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
.ipynb*/
run.exe
logs/*
!logs/.gitkeep
notes.md
Plot Data.ipynb